{% extends "base.html" %}
{% block content %}

{% if username.company == false %}
<!-- inputs if personal profile -->
<h5>Hello {{ username.fname|upper }}, keep your profile up to date</h5>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_prof', prof_id=username._id) }}">
        <!-- contact inputs -->
        <h5>Personal Information</h5>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- first name -->
                <input id="fname" name="fname" value="{{ username.fname }}" type="text" minlength="2" maxlength="20"
                    pattern="^[a-zA-Z0-9 -_',]{2,20}$" class="validate" required>
                <label for="fname">First Name</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- last name -->
                <input id="lname" name="lname" value="{{ username.lname }}" type="text" minlength="2" maxlength="20"
                    pattern="^[a-zA-Z0-9 -_',]{2,20}$" class="validate" required>
                <label for="lname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- email -->
                <input id="email" name="email" value="{{ username.email }}" type="email" minlength="10" maxlength="30"
                    pattern="^[a-zA-Z0-9-_',@.]{10,30}$" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- phone number -->
                <input id="phone" name="phone" value="{{ username.phone }}" type="text" class="validate" minlength="5"
                    maxlength="15" pattern="^[0-9+]{5,15}$" required>
                <label for="phone">Phone number</label>
            </div>
        </div>
        <!-- job related inputs -->
        <div class="row">
            <!-- role -->
            <div class="input-field col s12 m6">
                <input id="role" name="role" value="{{ username.role }}" type="text" class="validate" minlength="2"
                    maxlength="40" pattern="^[a-zA-Z0-9 -_',.]{2,40}$" required>
                <label for="role">Role</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- pay rate per day -->
                <input id="drate" name="drate" value="{{ username.drate }}" type="text" class="validate" minlength="2"
                    maxlength="4" pattern="^[0-9]{2,4}$" required>
                <label for="drate">Per Day Rate</label>
                <span class="helper-text">Besed on 40 working hours weekly</span>
            </div>
        </div>
        <div class="row">
            <!-- Location -->
            <div class="input-field col s12 m6">
                <input id="location" name="location" value="{{ username.location }}" type="text" class="validate"
                    minlength="2" maxlength="40" pattern="^[a-zA-Z0-9 -_',.]{2,40}$" required>
                <label for="location">Preferred Location</label>
            </div>
            <!-- website -->
            <div class="input-field col s12 m6">
                <input id="website" name="website" value="{{ username.website }}" type="text" class="validate"
                    minlength="5" maxlength="40" pattern="^[a-zA-Z0-9-_',.:/\#]{5,40}$">
                <label for="website">Website</label>
            </div>
        </div>
        <!-- remote work -->
        <div class="row">
            <div class="col s12 m6">
                <span class="helper-text">Will you work remotly</span>
                <div class="switch center-align">
                    <label>
                        No
                        {% if username.remote == "no" %}
                        <input type="checkbox" name="remote">
                        {% else %}
                        <input type="checkbox" name="remote" checked>
                        {% endif %}
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <!-- previous experience inputs -->
        <h5>Relevant Project experience</h5>
        <!-- project experience 1 -->
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="proj_role1" name="proj_role1" value="{{ username.proj_role1 }}" type="text" class="validate"
                minlength="2" maxlength="40" pattern="^[a-zA-Z0-9 -_',]{2,40}$" required>
                <label for="proj_role1">1st role/title</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="industry1" required>
                    <option value="" disabled selected>Industry</option>
                    {% for industry in industries %}
                        {% if industry.ind_name == username.industry1 %}
                            <option value="{{ industry.ind_name }}" selected>{{ industry.ind_name }}</option>
                        {% else %}
                            <option value="{{ industry.ind_name }}">{{ industry.ind_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="job_func1" required>
                    <option value="" disabled selected>Job Function</option>
                    {% for func in job_func %}
                        {% if func.func == username.job_func1 %}
                            <option value="{{ func.func }}" selected>{{ func.func }}</option>
                        {% else %}
                            <option value="{{ func.func }}">{{ func.func }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
        </div>
        
        <!-- project experience 2 -->
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="proj_role2" name="proj_role2" value="{{ username.proj_role2 }}" type="text" class="validate"
                minlength="2" maxlength="40" pattern="^[a-zA-Z0-9 -_',]{2,40}$">
                <label for="proj_role2">2nd role/title</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="industry2">
                    <option value="" disabled selected>Industry</option>
                    {% for industry in industries %}
                        {% if industry.ind_name == username.industry2 %}
                            <option value="{{ industry.ind_name }}" selected>{{ industry.ind_name }}</option>
                        {% else %}
                            <option value="{{ industry.ind_name }}">{{ industry.ind_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="job_func2">
                    <option value="" disabled selected>Job Function</option>
                    {% for func in job_func %}
                        {% if func.func == username.job_func2 %}
                            <option value="{{ func.func }}" selected>{{ func.func }}</option>
                        {% else %}
                            <option value="{{ func.func }}">{{ func.func }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
        </div>

        <!-- project experience 3 -->
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="proj_role3" name="proj_role3" value="{{ username.proj_role3 }}" type="text" class="validate"
                minlength="2" maxlength="40" pattern="^[a-zA-Z0-9 -_',]{2,40}$">
                <label for="proj_role3">3rd role/title</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="industry3">
                    <option value="" disabled selected>Industry</option>
                    {% for industry in industries %}
                        {% if industry.ind_name == username.industry3 %}
                            <option value="{{ industry.ind_name }}" selected>{{ industry.ind_name }}</option>
                        {% else %}
                            <option value="{{ industry.ind_name }}">{{ industry.ind_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
            <div class="input-field col s12 m4">
                <select name="job_func3">
                    <option value="" disabled selected>Job Function</option>
                    {% for func in job_func %}
                        {% if func.func == username.job_func3 %}
                            <option value="{{ func.func }}" selected>{{ func.func }}</option>
                        {% else %}
                            <option value="{{ func.func }}">{{ func.func }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
        </div>

        <!-- Skills input -->
        <div class="row">
            <div class="input-field col s12">
                <input id="skills" name="skills" type="text" value="{{ username.skills }}" class="validate"
                minlength="5" maxlength="300" pattern="^[a-zA-Z0-9 -_',]{5,300}$" required>
                <label for="skills">Skills - Add 5 to 10</label>
                <span class="helper-text">Type your skills seperated by
                    commas (eg: Excel, Python, ... etc.)</span>
            </div>
        </div>
        <!-- qualifications -->
        <!-- to be added later -->

        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large txt-shadow red darken-4">
                    <i class="material-icons left">clear</i>Cancel
                </a>
                <button type="submit" class="btn-large text-shadow cyan darken-4">
                    <i class="material-icons left">check</i>Update profile
                </button>
            </div>
        </div>

    </form>
</div>

{% else %}
<!-- inputs if business profile -->

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_prof', prof_id=username._id) }}">
        <!-- contact inputs -->
        <h5>Business Information</h5>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- business name -->
                <input id="bname" name="fname" value="{{ username.fname }}" type="text" minlength="2" maxlength="40"
                    class="validate" pattern="^[a-zA-Z0-9 -_',]{2,40}$" required>
                <label for="bname">Business name</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- website -->
                <input id="bwebsite" name="website" value="{{ username.website }}" type="text" minlength="2" maxlength="40"
                    class="validate" pattern="^[a-zA-Z0-9-_',/\:#.]{2,40}$" required>
                <label for="bwebsite">Website</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- email -->
                <input id="bemail" name="email" value="{{ username.email }}" type="email" minlength="10" maxlength="30"
                    class="validate" pattern="^[a-zA-Z0-9-_',@.]{10,30}$" required>
                <label for="bemail">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- phone number -->
                <input id="bphone" name="phone" value="{{ username.phone }}" type="text" class="validate" minlength="5"
                    maxlength="15" pattern="^[0-9+]{5,15}$" required>
                <label for="bphone">Phone number</label>
            </div>
        </div>
        <div class="row">
            <!-- location -->
            <div class="input-field col s12 m6">
                <input id="blocation" name="location" value="{{ username.location }}" type="text" class="validate"
                    minlength="2" maxlength="30" pattern="^[a-zA-Z0-9-_',@. ]{2,30}$">
                <label for="blocation">Location</label>
            </div>
            <!-- Industry -->
            <div class="input-field col s12 m6">
                <select name="industry" required>
                    <option value="" disabled selected>Industry</option>
                    {% for industry in industries %}
                        {% if industry.ind_name == username.industry %}
                            <option value="{{ industry.ind_name }}" selected>{{ industry.ind_name }}</option>
                        {% else %}
                            <option value="{{ industry.ind_name }}">{{ industry.ind_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
        </div>
        <div class="row">
            <!-- Description -->
            <div class="input-field col s12">
                <textarea id="textarea" name="desc" class="materialize-textarea" required>{{ username.desc }}</textarea>
                <label for="textarea">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <!-- Cancel -->
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large txt-shadow red darken-4">
                    <i class="material-icons left">clear</i>Cancel
                </a>
                <!-- submit -->
                <button type="submit" class="btn-large text-shadow cyan darken-4">
                    <i class="material-icons left">check</i>Update profile
                </button>
            </div>
        </div>

    </form>
</div>


{% endif %}


{% endblock %}