{% extends "base.html" %}
{% block content %}

<h5>Hello {{ username.fname|upper }}, keep your profile up to date</h5>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_prof', prof_id=username._id) }}">
        <!-- contact inputs -->
        <h5>Personal Information</h5>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- first name -->
                <input id="fname" name="fname" value="{{ username.fname }}" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="fname">First Name</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- last name -->
                <input id="lname" name="lname" value="{{ username.lname }}" type="text" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="lname">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <!-- email -->
                <input id="email" name="email" value="{{ username.email }}" type="email" minlength="10" maxlength="20"
                    class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- phone number -->
                <input id="phone" name="phone" value="{{ username.phone }}" type="text" class="validate" minlength="5"
                    maxlength="15" pattern="^[0-9]{5,15}$">
                <label for="phone">Phone number</label>
            </div>
        </div>
        <!-- job related inputs -->
        <div class="row">
            <!-- role -->
            <div class="input-field col s12 m6">
                <input id="role" name="role" value="{{ username.role }}" type="text" class="validate" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                <label for="role">Role</label>
            </div>
            <div class="input-field col s12 m6">
                <!-- pay rate per day -->
                <input id="drate" name="drate" value="{{ username.drate }}" type="text" class="validate" minlength="2"
                    maxlength="15" pattern="^[0-9]{2,15}$">
                <label for="drate">Per Day Rate</label>
                <span class="helper-text">Besed on 39 weekly working hours</span>
            </div>
        </div>
        <div class="row">
            <!-- Location -->
            <div class="input-field col s12 m6">
                <input id="location" name="location" value="{{ username.location }}" type="text" class="validate"
                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$">
                <label for="location">Preferred Location</label>
            </div>
            <!-- website -->
            <div class="input-field col s12 m6">
                <input id="website" name="website" value="{{ username.website }}" type="text" class="validate"
                    minlength="5" maxlength="15">
                <label for="website">Website</label>
            </div>
        </div>
        <!-- remote work -->
        <div class="row">
            <div class="col s12 m6">
                <span class="helper-text">Will you work remotly</span>
                <div class="switch center-align">
                    <label>
                        No
                        {% if username.remote|lower == "no" %}
                        <input type="checkbox" name="remote" checked>
                        {% else %}
                        <input type="checkbox" name="remote">
                        {% endif %}
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <!-- previous experience inputs -->
        <h5>Relevant Project experience</h5>
        <!-- project experience 1 -->
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="proj_name1" name="proj_name1" type="text" class="validate" minlength="5" maxlength="30">
                <label for="proj_name1">Project name</label>
            </div>
            <div class="input-field col s12 m4">
                <select>
                    <option value="" disabled selected>Industry</option>
                    {% for industry in industries %}
                    <option value="{{ industry.ind_name }}">{{ industry.ind_name }}</option>
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
            <div class="input-field col s12 m4">
                <select>
                    <option value="" disabled selected>Job Function</option>
                    {% for func in job_func %}
                    <option value="{{ func.func }}">{{ func.func }}</option>
                    {% endfor %}
                </select>
                <label>Select</label>
            </div>
        </div>
        <!-- dynamically add more input fields for more projects -->
        <a href="#">Add project experience</a>
        <!-- Skills input -->
        <div class="row">
            <div class="input-field col s12">
                <input id="skills" name="skills" type="text" class="validate">
                <label for="skills">Skills - Add 5 to 10</label>
                <span class="helper-text">Type your skills seperated by
                    commas (eg: Excel, Python, ... etc.)</span>
            </div>
        </div>
        <!-- qualifications -->
        <!-- to be added later -->

        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large txt-shadow red darken-4">
                    <i class="material-icons left">clear</i>Cancel
                </a>
                <button type="submit" class="btn-large text-shadow cyan darken-4">
                    <i class="material-icons left">check</i>Update profile
                </button>
            </div>
        </div>

    </form>
</div>


{% endblock %}