{% extends "base.html" %}
    {% if not session.user %}
        <!-- display hero image -->
        <!-- source for hero image: https://www.pexels.com/ -->
        {% block hero_image %}
        <img src="{{ url_for('static', filename='images/hero.jpg') }}" alt="hero image" class="responsive-img">
        {% endblock %}
    {% endif %}
{% block content %}

{% if session.user %}
<!-- view for members -->

        {% if member['company'] == true %}
        <!-- if business user -->

                <p>{{ match_list }}</p>


        {% else %}
        <!-- if personal user -->
        <h3>Greetings {{member.fname}},</h3>
        <h5>Here are your top scored matches based on your skills:</h5><br>
        <div class="row">
            <div class="col s6">
                <h6><strong>Job</strong></h6>
            </div>
            <div class="col s6 right-align">
                <h6><strong>Matching score</strong></h6>
            </div>
        </div>

          <ul class="collapsible">
            {% for match in match_list %}
            {% if match[0][0] !=0 %}
                <li>
                {% for job in job_matches %}
                {% if job.role == match[1] %}
                    <div class="collapsible-header flex-box job-match">
                        <p><strong>{{ match[1] }}</strong></p>
                        <div class="right-side score teal darken-3 grey-text text-lighten-5">
                            <strong>{{ match[0][0] }}</strong>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <p><strong>Location: </strong>{{ job.location }}</p>
                        {% if job.remote == "yes" %}
                        <p>This job is <strong>Remote</strong></p>
                        {% endif %}
                        <p><strong>Job description:</strong></p>
                        <p>{{ job.desc }}</p>
                        <p>Matched skills:</p>
                        {% for skill in match[0][1] %}
                            <div class="chip teal darken-3 grey-text text-lighten-5">
                                {{- skill -}}
                            </div>
                        {% endfor %}
                        <p class="right-align">By: {{ job.created_by }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% endif %}


{% else %}
<!-- view for non registered members/first time visitors -->
        <div class="row center-page">
                <a href="{{ url_for('register') }}" class="btn-large cyan darken-4 txt-shadow">Register!</a>
        </div>


        <div class="row">
            <!-- Source for the promo text: https://energyresourcing.com/blog/7-advantages-of-contract-work/ -->
            <div class="col s12 m4 center-align">
                <!-- Promo Content 1 -->
                <i class="large material-icons">trending_up</i>
                <h4>High demand</h4>
                <p>Contract work is currently in high demand, with most economists predicting this job sector will keep growing.
                    Companies have short-term projects and specialised jobs they need completed that don’t require then to hire
                    a full-time resource. Because of this there are a wealth of opportunities available that fit your skills,
                    experience and interest.</p>
            </div>
            <div class="col s12 m4 center-align">
                <!-- Promo Content 2 -->
                <i class="large material-icons">shuffle</i>
                <h4>Flexibility</h4>
                <p>Unlike full-time work, contract work allows for great flexibility. Depending on the role, you will have
                    greater control over hours worked, and the duties performed. You are able to pursue work that doesn’t
                    take over your whole life, while supplementing your income without the commitment required of a full-time
                    job. You are able to take work when it is most convenient for you.</p>
            </div>
            <div class="col s12 m4 center-align">
                <!-- Promo Content 3 -->
                <i class="large material-icons">euro_symbol</i>
                <h4>Higher pay</h4>
                <p>Contract work can often provide an opportunity for a higher rate of pay than a full-time salary. Contract
                    work and freelancing, allows you to take on as many jobs as you can handle, and for you to charge by the
                    hour or by the project.</p>
            </div>

        </div>

{% endif %}

{% endblock %}