{% extends "base.html" %}
{% block content %}


{% if session.user %}

    {% for job in job_matches %}
        {{ job.job_name }}<br>
        {{ job.job_func }}<br>
        {{ job.industry }}<br>
        {{ job.job_desc }}<br>
        {{ job.location }}<br>
        {{ job.type }}<br>
        Skills needed:<br>
            {% for skill in job.skills %}
                {{ skill }}<br>
            {% endfor %}
        {{ job.created_by }}<br>
    {% endfor %}
{% else %}

    <h1>Landing content</h1>

{% endif %}

{% endblock %}