{% extends "base.html" %}
{% block content %}

{% if username.company == false %}
<!-- content if personal profile -->

<!-- check if user has completed profile -->
{% if username.fname %}
    <h1>Welcome {{ username.fname|capitalize }},</h1>
    <h6>Here is the summary of your profile</h6>
{% else %}
    <h1>Welcome aboard!</h1>
    <h6>Update the details of your profile to get best matches</h6>
{% endif %}

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel">
                <!-- name -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Full Name:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.fname|capitalize }} {{ username.lname|capitalize }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- role -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Role:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.role }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- email -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Email:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.email }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- phone -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Phone:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.phone }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- location -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Based in:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.location }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- daily rate -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Daily rate:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.drate }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- remote work -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Will work remotly:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.remote|upper }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- website -->
                <div class="row tight">
                    <div class="col s6 m4">
                        <h6><strong>Website:</strong></h6>
                    </div>
                    <div class="col s6 m8">
                        <h6>{{ username.website }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row tight">
                    <div class="col">
                        <h6><strong>Experience:</strong></h6>
                    </div>
                </div>
                <!-- experience 1 -->
                <blockquote class="left-highlight">
                <div class="row tight">
                    <div class="col s12 m4">
                        <h6>{{ username.proj_role1 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.industry1 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.job_func1 }}</h6>
                    </div>
                </div>
                </blockquote>
                <!-- add if there is experience 2 -->
                {% if username.proj_role2 %}
                <blockquote class="left-highlight">
                <div class="row tight">
                    <div class="col s12 m4">
                        <h6>{{ username.proj_role2 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.industry2 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.job_func2 }}</h6>
                    </div>
                </div>
                </blockquote>
                {% endif %}
                <!-- add if there is experience 3 -->
                {% if username.proj_role3 %}
                <blockquote class="left-highlight">
                <div class="row tight">
                    <div class="col s12 m4">
                        <h6>{{ username.proj_role3 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.industry3 }}</h6>
                    </div>
                    <div class="col s12 m4">
                        <h6>{{ username.job_func3 }}</h6>
                    </div>
                </div>
                </blockquote>
                {% endif %}
                <div class="divider"></div>
                <!-- Skills -->
                <div class="row tight">
                    <div class="col s12">
                        <!-- creating a chip for each skill in skills key -->
                        <h6 class=""><strong>Skills:</strong></h6><br>
                        {% for skill in username.skills.split(',') %}
                        <div class="chip">
                            {{- skill -}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <!-- Side info stats -->
        <div class="col s12 m4">
            <div class="card-panel">
                <h6 class="grey-text text-lighten-1">Hypothetical figures</h6> 
                <h6>Companies in your industry: 86</h6>
                <h6>Jobs in your industry: 157</h6>
                <h6>Jobs in your role: 27</h6>
                <h6>Highest matching score: 86%</h6>

            </div>
        </div>
    </div>
    <div class="row center-page">
            <a href="{{ url_for('fill_prof', username=username._id) }}" class="btn-large cyan darken-4 txt-shadow">
                <i class="material-icons left">edit</i>
                Update profile</a>
    </div>
{% else %}
<!-- content if business profile -->

{% if username.fname %}
    <h1>Welcome {{ username.fname|capitalize }},</h1>
    <h6>Here is your business profile</h6>
{% else %}
    <h1>Welcome aboard!</h1>
    <h6>Add some details about your busines or post a job</h6>
{% endif %}

    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel">

                <h6>{{ username.location|capitalize }}</h6>
                <h6>{{ username.email }}</h6>
                <h6>{{ username.phone }}</h6>
                <p>{{ username.desc }}</p>

                <div class="divider"></div>

                <h6>Current job openings</h6>
                <!-- jobs posted by this business user -->
                <ul class="collapsible expandable">
                    {% for job in jobs %}
                    {% if session["user"] == job.created_by %}
                    <li>
                        <div class="collapsible-header flex-box">
                            <div>
                            <i class="material-icons">expand_more</i>
                                <strong>{{ job.role }}</strong>: {{ job.location }}
                            </div>
                            <div class="right-side">
                                <!-- delete job -->
                                <a href="{{ url_for('delete_job', job_id=job._id) }}" class="delete">
                                    <i class="material-icons red-text text-darken-4">highlight_off</i></a>
                                <!-- edit job -->
                                <a href="{{ url_for('edit_job', job_id=job._id) }}">
                                    <i class="material-icons cyan-text text-darken-4">border_color</i></a>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <h6>{{ job.proj_name }}</h6>
                            <p>{{ job.desc }}</p>
                            <p>Remote: {{ job.remote }}</p>
                            <p>Skills required:</p>
                            {% for skill in job.skills.split(',') %}
                            <div class="chip">
                                {{- skill -}}
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
        <!-- Side info stats -->
        <div class="col s12 m4">
            <div class="card-panel">
                <h6 class="grey-text text-lighten-1">Hypothetical figures</h6>
                <h6>Companies in your industry: 86</h6>
                <h6>Jobs in your industry: 157</h6>
                <h6>Jobs in your role: 27</h6>
                <h6>Highest matching score: 86%</h6>

            </div>
        </div>
    </div>

    <div class="row center-page">
        <!-- update profile -->
        <a href="{{ url_for('fill_prof', username=username._id) }}" class="btn-large cyan darken-4 txt-shadow">
            <i class="material-icons left">edit</i>
        Update profile</a>

        <!-- post a job -->
        <a href="{{ url_for('post_job') }}" class="btn-large cyan darken-4 txt-shadow">
            <i class="material-icons left">assignment_ind</i>
        Post a job</a>
    </div>

{% endif %}

{% endblock %}